html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

body.noscroll {
  overflow: hidden;
}

h1, h2, h3 {
  font-family: 'Quicksand', sans-serif;
}

form input.volunteer-form,
form textarea.volunteer-form {
  width: 100%;
  min-height: 28px;
  line-height: 28px;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: none;
  border-bottom: 1px solid grey;
  font-family: 'Quicksand', sans-serif;
}

form input.volunteer-form::placeholder,
form textarea.volunteer-form::placeholder {
  color: lightgray;
  text-align: right;
}

button#volunteer {
  width: 132px;
  background-color: darkblue;
  border: none;
  height: 41px;
  border-radius: 20px;
  line-height: 41px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin-top: 12px;
}

button#volunteer:hover {
  background-color: cyan;
}

#ws-volunteer-form--error {
  border-top: 2px solid red;
  margin-top: 8px;
}

.triptych-error {
  color: red;
  font-weight: bold;
}

.ltc-donate {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 82px;
  width: 100%;
  border-radius: 20px;
  background-color: darkblue;
  color: white;
  font-weight: bold;
  padding-top: 22px;
  cursor: pointer;
}

.ltc-donate:hover {
  background-color: cyan;
}

a.triptych-link {
  color: black;
  text-decoration: none;
}

a.triptych-link:visited {
  color: black;
  text-decoration: none;
}

a.triptych-link {
  color: black;
  text-decoration: none;
}

a.triptych-link:visited {
  color: black;
  text-decoration: none;
}

.donate-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

.menu-options > ul {
  list-style-type: none;
  font-family: 'Hind', sans-serif;
}

.nosho {
  display: none;
}

.top-container .small-home-icon {
  display: none;
}

#donate-clox {
  text-align: right;
  padding-right: 8px;
  padding-top: 8px;
  cursor: pointer;
}

.donate-title {
  text-align: center;
}

.paypal-btn-container {
  text-align: center;
  padding-left: 36px;
  padding-right: 36px;
  font-family: 'Quicksand', sans-serif;
}

.nav-item.hold {
  display: none;
}

.nav-item > a {
  color: inherit;
  text-decoration: none;
}

.nav-item > a:visited {
  color: inherit;
  text-decoration: none;
}

.ltc-calendar-donation-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.4;
}

.menu-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  padding-top: 58px;
}

.sub-title {
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  font-size: 20px;
  padding-bottom: 12px;
  padding-top: 24px;
}

.info-para {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

.triptych-container {
  font-family: 'Quicksand', sans-serif;
}

.supporter-header,
.triptych-header {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 32px;
  margin-top: 24px;
}

/* .platinum-level,
.medal-level {
  width: initial;
} */

.supporter-header > p {
  font-size: 14px;
  font-style: italic;
  opacity: 0.65;
}

.platinum-level {
  background-color: silver;
  margin-bottom: 16px;
  /* width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px; */
}

.gold-level {
  background-color: gold;
  margin-bottom: 16px;
  /* margin-left: 8px;
  margin-right: 8px;
  width: calc(33.33% - 16px);
  float: left; */
}

.silver-level {
  background-color: paleturquoise;
  margin-bottom: 16px;
  /* margin-left: 8px;
  margin-right: 8px;
  width: calc(33.33% - 16px);
  float: left; */
}

.bronze-level {
  background-color: burlywood;
  margin-bottom: 16px;
  /* margin-left: 8px;
  margin-right: 8px;
  width: calc(33.33% - 16px);
  float: left; */
}

.medal-level {
  padding: 40px;
  border-radius: 18px;
  text-align: center;
  cursor: pointer;
}

.medal-title {
  font-weight: bold;
  font-size: 1.45em;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 2px;
}

.medal-underbar {
  margin-top: 0;
  font-style: italic;
  opacity: 0.85;
}

.triptych-panel {
  width: 33%;
  float: left;
  text-align: center;
}

.triptych-main-image-container {
  background-repeat: no-repeat;
  background-position: center;
}

.triptych-title {
  font-weight: 700;
  font-size: 18px;
}

.fb-linker {
  text-decoration: none;
  color: black;
}

.fb-linker:visited {
  text-decoration: none;
  color: black;
}

.coc-pad {
  z-index: -1;
  margin-top: 108px;
  font-family: 'Quicksand', sans-serif;
}

/* Mobile Styling */
@media only screen and (max-width: 999px) {
  .not-mobile {
    display: none;
  }

  .mobile-nav-assist {
    height: 200px;
    margin-top: -200px;
  }

  .org-title {
    text-align: center;
    margin-top: 50px;
  }

  .org-title .image-container img {
    max-width: 100%;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    display: none;
  }

  .menu-opener {
    text-align: right;
    padding-right: 18px;
    padding-top: 12px;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 4;
  }
  .menu-opener.needs-border {
    border-bottom: 1px solid grey;
  }

  .menu-opener > i {
    font-size: 32px;
  }

  .menu-options {
    position: fixed;
    overflow: hidden;
    top: 49px;
    background-color: lightcyan;
    width: 0;
    height: 100vh;
    color: rgba(0, 0, 0, 0);
    transition: width 0.6s, color 0.4s ease-in-out;
  }

  .menu-options.open {
    width: 100%;
    color:black;
    transition: width 0.6s, color 1.4s ease-in-out;
    z-index: 4;
  }

  .nav-item {
    font-size: 36px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .menu-options.open .nav-item.donate {
    font-weight: bold;
    color: orange;
    transition: color 0.8s ease-in-out;
  }

  .nav-item.search {
    display: none;
  }

  #donate-modal {
    border-top: 8px solid orange;
    border-bottom: 8px solid orange;
  }

  .main-content {
    margin-left: 16px;
    margin-right: 16px;
  }

  .ltc-calendar-donation-modal {
    position: fixed;
    opacity: initial;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    min-height: 100%;
    padding: 32px;
    font-family: 'Quicksand', sans-serif;
  }

  .menu-title {
    border-bottom: 1px solid black;
  }

  .menu-title > span {
    margin-top: -52px;
    padding-bottom: 52px;
    display: block;
  }

  img.sub-image {
    /* border: 1px solid black; */
    opacity: 1;
    max-width: 100%;
    transition: opacity 0.25s;
  }

  img.new-image {
    opacity: 0;
  }

  /*.triptych-panel {
    padding: 2px;
    border: 1px solid black;
    border-radius: 2px;
  }*/

  .triptych-main-image-container {
    min-height: 80px;
  }

  .triptych-main-image-container.day-center {
    background-image: url('./assets/SSS_Icon_DC_80.png');
  }

  .triptych-main-image-container.warming-shelter {
    background-image: url('./assets/SSS_Icon_WS_80.png');
  }

  .triptych-main-image-container.transitional-housing {
    background-image: url('./assets/SSS_Icon_TH_80.png');
  }

  /* Here are the different triptych styles for the take-action page */
  .triptych-panel.full-width {
    width: 100%;
    margin-bottom: 16px;
    border-bottom: 1px solid gray;
  }

  form#ws-volunteer-form {
    margin-bottom: 8px;
  }

  div.triptych-min-info.lantern-parade-info {
    margin-bottom: 32px;
    line-height: 2.75em;
  }

  /* Here are the triptych bg images for the mobile take-action page */
  .triptych-main-image-container.light-the-calendar {
    background-image: url('./assets/SSS_Image_LTC_160.png');
    min-height: 160px;
  }

  .triptych-main-image-container.ws-volunteer {
    background-image: url('./assets/SSS_Image_Volunteer_160.png');
    min-height: 160px;
  }

  .triptych-main-image-container.lantern-parade {
    background-image: url('./assets/SSS_Image_Lantern_Parade_160.png');
    min-height: 160px;
  }

  .triptych-title {
    min-height: 48px;
  }

  .triptych-verbose-info {
    display: none;
  }

  .triptych-min-info {
    text-transform: capitalize;
  }

  .desktop-only-br {
    display: none;
  }

  .coc-pad {
    margin-top: 108px;
  }
}

/* Desktop Styling */
@media only screen and (min-width: 1000px) {
  .mobile-nav-assist {
    display: none;
  }

  .top-container {
    z-index: 5;
    top: 0;
    overflow:hidden;
    position: fixed;
    background-color: white;
    width: 100%;
  }

  .top-container > .org-title {
    text-align: center;
    opacity: 1;
    transition: opacity 0.8s ease-in;
  }

  .top-container.needs-border {
    height: 100px;
    border-bottom: 1px solid black;
    transition: height 0.25s;
  }

  .top-container.needs-border > .org-title {
    height: 0px;
    opacity: 0;
    transition: opacity 0s;
  }

  .top-container.needs-border .image-container {
    display: none;
  }

  .top-container.needs-border .small-home-icon {
    float: left;
    display: block;
    margin-top: 10px;
    margin-left: 20px;
  }

  .top-container.needs-border .menu-options {
    float: left;
    padding-top: 22px;
  }

  h1, h2 {
    padding: 0 22px;
    margin: 0;
  }

  h2 {
    font-size: 16px;
  }

  .org-title > .image-container {
    padding-left: 14px;
    margin-right: 18px;
  }

  .menu-opener {
    display: none;
  }

  .menu-options {
    text-align: center;
  }

  .menu-items {
    padding: 0;
  }

  .nav-item {
    padding: 9px 18px 6px 18px;
    display: inline;
    max-width: 202px;
  }

  .nav-item.donate {
    background-color: #B24345;
    color: white;
    border-radius: 20px;
    text-align: center;
    width: 132px;
    position: absolute;
    top: 28px;
    right: 28px;
  }

  .nav-item:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .nav-item.donate:hover {
    background-color: #D34345;
    color: white;
    text-decoration: none;
  }

  #donate-modal {
    position: fixed;
    right: 14px;
    top: 74px;
    width: 600px;
    z-index: 100;
    background-color: white;
    height: 280px;
    border: 1px solid lightgrey;
  }

  .main-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 99%;
  }

  .main-content-spacer {
    min-height: 290px;
  }

  .ltc-calendar-donation-modal {
    position: fixed;
    opacity: initial;
    width: 828px;
    /* min-width: 700px; */
    /* margin-left: auto;
    margin-right: auto; */
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    /* background-image: url('./assets/SSS_Image_LTC_Large.png'); */
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 300px;
    /* position: relative; */
  }

  .ltc-info {
    width: 100%;
    padding: 16px;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    color: black;
  }

  .ltc-calendar-sponsor-msg {
    width: 100%;
    height: 48px;
  }

  .platinum-level {
    background-color: silver;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }

  .bronze-level, .silver-level, .gold-level {
    width: calc(33.33% - 16px);
    float: left;
    margin-left: 8px;
    margin-right: 8px;
  }

  .menu-title > span {
    margin-top: -108px;
    padding-bottom: 108px;
    display: block;
  }

  .menu-title,
  .sub-title,
  .info-para {
    padding-left: 5%;
    padding-right: 5%;
  }

  .mission-bg-container {
    padding-bottom: 77px;
    background-image: url(./assets/mission/text-background-2.png);
    opacity: 1;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -82px;
  }

  .triptych-container {
    margin-left: 15%;
    margin-right: 15%;
  }

  .triptych-header {
    margin-top: 42px;
  }

  .triptych-title {
    font-size: 24px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .triptych-main-image-container {
    min-height: 200px;
  }

  .triptych-main-image-container.day-center {
    background-image: url('./assets/SSS_Icon_DC_200.png');
  }

  .triptych-main-image-container.warming-shelter {
    background-image: url('./assets/SSS_Icon_WS_200.png');
  }

  .triptych-main-image-container.transitional-housing {
    background-image: url('./assets/SSS_Icon_TH_200.png');
  }

  /* Here are the bg images for the desktop take-action page */
  .triptych-main-image-container.light-the-calendar {
    background-image: url('./assets/SSS_Image_LTC_200.png');
  }

  .triptych-main-image-container.ws-volunteer {
    background-image: url('./assets/SSS_Image_Volunteer_200.png');
  }

  .triptych-main-image-container.lantern-parade {
    background-image: url('./assets/SSS_Image_Lantern_Parade_200.png');
  }

  .triptych-info {
    margin-left: 15%;
    margin-right: 15%;
  }
}
