input.ltc-beds-number,
input.ltc-beds-number:disabled {
  max-width: 46px;
  box-shadow: none;
  border: none;
  font-size: 16px;
  text-align: center;
  color: black;
}


.ltc-donate-type-container {
  width: 55%;
  float: left;
}

.ltc-beds-amount-input {
  width: 20%;
  float: left;
}

.ltc-beds-amount-input > p {
  text-align: center;
}

.ltc-paypal-button-container {
  min-width: 20%;
  float: left;
}

.paypal-button-mask {
  min-width: 100%;
  min-height: 100%;
  background-color: white;
  opacity: 0.7;
}

.ltc-form-input-container {
  width: 33%;
  float: left;
  padding: 8px;
}

.ltc-form-input-container.smaller {
  width: 33%;
  float: left;
  text-align: right;
}

#ltc-cancel-btn {
  background-color: lightgray;
  height: 34px;
  line-height: 34px;
  border-radius: 17px;
  color: white;
  max-width: 82px;
  padding-left: 8px;
  cursor: default;
}
