#supporter-engage-modal {
  position: fixed;
  top: 10%;
  bottom: 25%;
  left: 10%;
  right: 10%;
  background-color: white;
  z-index: 7;
  padding: 32px;
}

#supporter-engage-modal p.title {
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

#button-container {
  text-align: center;
}

#sustainer-level {
  text-transform: capitalize;
}

#supporter-engage-modal-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: darkslategray;
  opacity: 0.75;
  z-index: 6;
}